.container{
    margin-top: 50px;
    
}
.esas{
    background-image: url(https://img.freepik.com/free-photo/assortment-cinema-elements-red-background-with-copy-space_23-2148457848.jpg);
    background-size: cover;
}
.card{
    border-radius: 50px;
}
